**Q: What are the total charges for customers based on sex?**

The purpose of this question is to provide clarity on which sex has the highest predictated charge of health insurance anually. This code shows males have a higher amount of health insurace charges with 9 million dollars in total predicted versus a females having 8 million dollars predicted as a new customer anually.

The graph Chart\_1 shows that male customers pay the highest amount of total charges for this data set

In [6]:
SELECT sex, SUM(charges) AS total_charges
FROM Health_insurance
GROUP BY sex;

sex,total_charges
male,9434763.783447266
female,8321061.199951172

**Q: What is the age group among female customers that pay the highest new customer rate for health insurance annually?**

The question aims to determine at what age among female customers pay the highest new customer rate in total health insurance fees. This code shows that the female category in the age group 55-64 is predicted to have the highest <span style="color: var(--vscode-foreground);">new customer&nbsp;</span> <span style="color: var(--vscode-foreground);">total charge of insurance fees. This is visualized in Chart_2.&nbsp;</span>

In [8]:
SELECT
    CASE
        WHEN [age] BETWEEN 18 AND 24 THEN '18-24'
        WHEN [age] BETWEEN 25 AND 34 THEN '25-34'
        WHEN [age] BETWEEN 35 AND 44 THEN '35-44'
        WHEN [age] BETWEEN 45 AND 54 THEN '45-54'
        WHEN [age] BETWEEN 55 AND 64 THEN '55-64'
    END AS age_group,
    [sex],
    SUM([charges]) AS total_charges
FROM Health_insurance
WHERE [sex] = 'female'
GROUP BY CASE
        WHEN [age] BETWEEN 18 AND 24 THEN '18-24'
        WHEN [age] BETWEEN 25 AND 34 THEN '25-34'
        WHEN [age] BETWEEN 35 AND 44 THEN '35-44'
        WHEN [age] BETWEEN 45 AND 54 THEN '45-54'
        WHEN [age] BETWEEN 55 AND 64 THEN '55-64'
    END, [sex];

age_group,sex,total_charges
18-24,female,1156415.8017578125
25-34,female,1222762.0173339844
35-44,female,1605393.1948242188
45-54,female,2144694.4780273438
55-64,female,2191795.7080078125

**Q: What is the age group among male customers that pay the highest new customer rate for health insurance annually?**

The question aims to determine at what age male customers pay the highest new customer rate in total health insurance fees. This code shows that the male category in the age group 55-64 is predicted to have the highest <span style="color: var(--vscode-foreground);">new customer&nbsp;</span> <span style="color: var(--vscode-foreground);">total charge of insurance fees. Under Chart_3, the gradual progression is seen.</span>

In [9]:
SELECT
    CASE
        WHEN [age] BETWEEN 18 AND 24 THEN '18-24'
        WHEN [age] BETWEEN 25 AND 34 THEN '25-34'
        WHEN [age] BETWEEN 35 AND 44 THEN '35-44'
        WHEN [age] BETWEEN 45 AND 54 THEN '45-54'
        WHEN [age] BETWEEN 55 AND 64 THEN '55-64'
    END AS age_group,
    [sex],
    SUM([charges]) AS total_charges
FROM Health_insurance
WHERE [sex] = 'male'
GROUP BY CASE
        WHEN [age] BETWEEN 18 AND 24 THEN '18-24'
        WHEN [age] BETWEEN 25 AND 34 THEN '25-34'
        WHEN [age] BETWEEN 35 AND 44 THEN '35-44'
        WHEN [age] BETWEEN 45 AND 54 THEN '45-54'
        WHEN [age] BETWEEN 55 AND 64 THEN '55-64'
    END, [sex];

age_group,sex,total_charges
18-24,male,1348736.8020019531
25-34,male,1582736.3559570312
35-44,male,1809490.6499023438
45-54,male,2405382.837890625
55-64,male,2288417.1376953125

**Q: What are the average charges of customers by age group?**

The purpose of this question is to find out what is the average annual charge and age group of customer health insurance. The following code provides the age 55-64 has the highest yearly average charge as a new customer. Under Chart\_7, this data is a visualization to show that the average charge increases as the age group rises in a 3-dimensional view, while Chart\_4 shows the result in 2D. . The average charge from the lowest age group to the highest increases.

In [14]:
SELECT
    CASE
        WHEN [age] BETWEEN 18 AND 24 THEN '18-24'
        WHEN [age] BETWEEN 25 AND 34 THEN '25-34'
        WHEN [age] BETWEEN 35 AND 44 THEN '35-44'
        WHEN [age] BETWEEN 45 AND 54 THEN '45-54'
        WHEN [age] BETWEEN 55 AND 64 THEN '55-64'
    END AS age_group,
    AVG([charges]) AS avg_charges
FROM Health_insurance
GROUP BY CASE
        WHEN [age] BETWEEN 18 AND 24 THEN '18-24'
        WHEN [age] BETWEEN 25 AND 34 THEN '25-34'
        WHEN [age] BETWEEN 35 AND 44 THEN '35-44'
        WHEN [age] BETWEEN 45 AND 54 THEN '45-54'
        WHEN [age] BETWEEN 55 AND 64 THEN '55-64'
    END
ORDER BY age_group;

age_group,avg_charges
18-24,9011.340301294122
25-34,10352.392521369062
35-44,13134.168633563702
45-54,15853.927930027765
55-64,18513.27622191374

**Q: Compare average health insurance charges from a smoker versus a non-smoker.**

As shown in Chart\_5, based on the data set, smokers pay 4 times more on average to non-smokers.

In [19]:
SELECT [smoker], AVG([charges]) AS avg_charges
FROM Health_insurance
GROUP BY [smoker];

smoker,avg_charges
0,8434.268304122123
1,32050.23178033759

**Q: What are the average charges by region?**

The graph Chart\_6 shows the average charges per region where the southwest has the lowest charge per person.

In [2]:
SELECT [region], AVG([charges]) AS avg_charges
FROM Health_insurance
GROUP BY [region]

region,avg_charges
northeast,13406.38453128014
southwest,12346.93732797476
northwest,12417.575369591346
southeast,14735.411452073316